
<span class="tags top-tags">&lt;html&gt;<br>&nbsp;&nbsp;&nbsp;&lt;body&gt;</span>
<div id="page" class="en noselect" style="margin-top: 12%;">
  <div class="container home-page">  
    
      <div class="text-zone">
          <h1 class="blast-root">
              <span class="blast">M</span>
              <span class="blast">y</span>
              <span class="blast">&nbsp;&nbsp;S</span>
              <span class="blast">k</span>
              <span class="blast">i</span>
              <span class="blast">l</span>
              <span class="blast">l</span>
              <span class="blast">s</span>
          </h1>

          <p class="blast-root">
              <span class="blast">I specialize in Full Stack Development, </span>
              <span class="blast">&nbsp;working across backend, frontend, databases, </span>
              <span class="blast"> and cloud to build high-performance applications.</span>
          </p>

          <h2 class="blast-root">
              <span class="blast">Backend</span>
          </h2>
          <p class="blast-root">
              <span class="blast">C#, .NET Core, ASP.NET MVC</span><br>
              <span class="blast">REST APIs & Microservices</span><br>
              <span class="blast">Identity Server, OAuth, JWT</span><br>
              <span class="blast">Multithreading, Performance Optimization</span><br>
          </p>

          <h2 class="blast-root">
              <span class="blast">Frontend</span>
          </h2>
          <p class="blast-root">
              <span class="blast">Angular, TypeScript, JavaScript</span><br>
              <span class="blast">HTML5, CSS3, Bootstrap</span><br>
              <span class="blast">Component-Based Architecture</span><br>
          </p>

          <h2 class="blast-root">
              <span class="blast">Database & DevOps</span>
          </h2>
          <p class="blast-root">
              <span class="blast">SQL Server, Entity Framework Core</span><br>
              <span class="blast">Azure CI/CD, Docker</span><br>
              <span class="blast">Logging & Monitoring</span><br>
          </p>

          <h2 class="blast-root">
              <span class="blast">Best Practices & Tools</span>
          </h2>
          <p class="blast-root">
              <span class="blast">Clean Code, SOLID Principles, Design Patterns</span><br>
              <span class="blast">Unit Testing, xUnit, NUnit, Moq</span><br>
              <span class="blast">Git, JIRA, Azure DevOps</span><br>
          </p>
      </div>

      <div class="extra-container">
          <div id="myCanvasContainer">
              <canvas width="460" height="460" id="myCanvas"></canvas>
          </div>

          <div id="tags">
            <ul>
              <li><a href="https://en.wikipedia.org/wiki/HTML" target="_blank">HTML 5</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank">CSS</a></li>
              <li><a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a></li>
              <li><a href="https://en.wikipedia.org/wiki/TypeScript" target="_blank">TypeScript</a></li>
              <li><a href="https://en.wikipedia.org/wiki/JSON" target="_blank">JSON</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Angular_(web_framework)" target="_blank">Angular 7</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Node.js" target="_blank">Node.js</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)" target="_blank">Bootstrap</a></li>
              <li><a href="https://en.wikipedia.org/wiki/NoSQL" target="_blank">NoSQL</a></li>
              <li><a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a></li>
              <li><a href="https://en.wikipedia.org/wiki/.NET_Core" target="_blank">.NET Core</a></li>
              <li><a href="https://en.wikipedia.org/wiki/ASP.NET_MVC" target="_blank">ASP.NET MVC</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank">REST APIs</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Microservices" target="_blank">Microservices</a></li>
              <li><a href="https://en.wikipedia.org/wiki/IdentityServer" target="_blank">Identity Server</a></li>
              <li><a href="https://en.wikipedia.org/wiki/OAuth" target="_blank">OAuth</a></li>
              <li><a href="https://en.wikipedia.org/wiki/JSON_Web_Token" target="_blank">JWT</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Multithreading_(computer_architecture)" target="_blank">Multithreading</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Performance_optimization" target="_blank">Performance Optimization</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Component-based_software_engineering" target="_blank">Component-Based Architecture</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Microsoft_SQL_Server" target="_blank">SQL Server</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Entity_Framework" target="_blank">Entity Framework Core</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Azure_DevOps" target="_blank">Azure CI/CD</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Docker_(software)" target="_blank">Docker</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Logging_(computing)" target="_blank">Logging</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Monitoring_(software)" target="_blank">Monitoring</a></li>
              <li><a href="https://en.wikipedia.org/wiki/SOLID" target="_blank">SOLID Principles</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Unit_testing" target="_blank">Unit Testing</a></li>
              <li><a href="https://en.wikipedia.org/wiki/XUnit" target="_blank">xUnit</a></li>
              <li><a href="https://en.wikipedia.org/wiki/NUnit" target="_blank">NUnit</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Moq" target="_blank">Moq</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Git" target="_blank">Git</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Jira_(software)" target="_blank">JIRA</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Azure_DevOps" target="_blank">Azure DevOps</a></li>
            </ul>
            
          </div>
      </div>

  </div>
</div>

<span class="tags bottom-tags"> &nbsp;&nbsp;&nbsp;&lt;/body&gt;<br> &lt;/html&gt; </span>