<div id="page" class="en noselect">


  <div class="container home-page" >
    <span class="tags top-tags">&lt;html&gt;<br>&nbsp;&nbsp;&nbsp;&lt;body&gt;</span>
  <div class="text-zone" >
  <h1 aria-label=" Hi, I’m ack,web developer." class="blast-root"> 
  <span class="blast " aria-hidden="true" >H</span>
  <span class="blast" aria-hidden="true" >i</span>
  <span class="blast " aria-hidden="true" >,</span><br>
   <span class="blast " aria-hidden="true" >I</span>
   <span class="blast " aria-hidden="true" >’</span>
   <span class="blast" aria-hidden="true" >m</span> 
    <span class="blast " aria-hidden="true" >.</span>
   <span class="blast " aria-hidden="true" >.</span>
   <span class="blast" aria-hidden="true" >.</span>
   <span class="blast " aria-hidden="true" >.</span>
   <span class="blast " aria-hidden="true" >.</span>
   <span class="blast" aria-hidden="true" >.</span>
   <br>
   <span class="blast " aria-hidden="true" >S</span>
   <span class="blast " aria-hidden="true" >h</span>
   <span class="blast" aria-hidden="true" >u</span>
   <span class="blast " aria-hidden="true">b</span>
   <span class="blast " aria-hidden="true" >h</span>
   <span class="blast " aria-hidden="true" >a</span>
   <span class="blast " aria-hidden="true" >m</span>
   
   <span class="blast " aria-hidden="true" >.</span></h1>
  
   <h2>FullStack Web Developer </h2>
   <a rel="contact" [routerLink]="['/content']" class="flat-button"> CONTACT ME </a>
   </div>
   <span class="tags bottom-tags"> &nbsp;&nbsp;&nbsp;&lt;/body&gt;<br> &lt;/html&gt; </span>
  </div>
  </div>

  