<div id="page" class="en noselect">


  <div class="container home-page" >
    <span class="tags top-tags">&lt;html&gt;<br>&nbsp;&nbsp;&nbsp;&lt;body&gt;</span>
  <div class="text-zone" >
  <h1 class="blast-root"> 
  <span class="blast "  >C</span>
  <span class="blast" >O</span>
  <span class="blast"  >N</span>
  <span class="blast"  >T</span>
  <span class="blast "  >A</span>
  <span class="blast "  >C</span>
  <span class="blast "  >T</span>
  
  <span class="blast"  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M</span>
  <span class="blast"  >e</span>
  </h1>

   </div>


   <div class="container extra">
    <div class="section">
      <div class="form-container">
        <form (ngSubmit)="onSubmit()">
          <div class="form-row">
            <input type="text" placeholder="Name" name="name" [(ngModel)]="name" required>
            <input type="email" placeholder="Email" name="email" [(ngModel)]="email" required>
          </div>
          <div class="form-row">
            <input type="text" placeholder="Subject" name="subject" [(ngModel)]="subject" required>
            <textarea placeholder="Message" name="message" rows="5" [(ngModel)]="message" required></textarea>
          </div>
          <div class="form-row">
            <input type="submit" value="SUBMIT" class="submit-button">
          </div>
        </form>
        
      </div>
    </div>
    <div class="section">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113274.76694274513!2d77.60175282998495!3d27.47435009603631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397371163d4d5205%3A0x4273a09defe10ea5!2sMathura%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1682614984430!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  
  
  
<span class="tags bottom-tags"> &nbsp;&nbsp;&nbsp;&lt;/body&gt;<br> &lt;/html&gt; </span>
  </div>
  </div>