<span class="tags top-tags">&lt;html&gt;<br>&nbsp;&nbsp;&nbsp;&lt;body&gt;</span>
<div id="page" class="en noselect"style="margin-top: 12%;">
  <div class="container home-page" >
    <div class="text-zone">
      <h2 class="blast-root" style="color: #08fdd8;">
        <span class="blast">
        Curious to see what I've built? Give the cube a spin and click on a face to dive into the projects. Each side tells a different story!
      </span>
      </h2>
    <br>
      <h2 class="blast-root">
        <span class="blast">Scalable E-Commerce Application</span>
      </h2>
      <p class="blast-root">
        <span class="blast">Developed a real-world, scalable e-commerce platform utilizing microservices architecture and Elasticsearch, capable of efficiently handling millions of users.</span>
      </p>
    
      <h2 class="blast-root">
        <span class="blast">Comprehensive Booking System</span>
      </h2>
      <p class="blast-root">
        <span class="blast">Engineered a booking application comprising services for booking, inventory, and CSV management, showcasing optimal architecture with gRPC communication and AutoMapper integration.</span>
      </p>
    
      <h2 class="blast-root">
        <span class="blast">Identity and Access Management (IAM) System</span>
      </h2>
      <p class="blast-root">
        <span class="blast">Implemented a robust security framework for authentication and authorization, ensuring secure access across applications.</span>
      </p>
    
      <h2 class="blast-root">
        <span class="blast">Heart Attack Prediction Model</span>
      </h2>
      <p class="blast-root">
        <span class="blast">Developed a data science project that predicts heart attack risks based on various health parameters, aiding in proactive healthcare decisions.</span>
      </p>
    
      <h2 class="blast-root">
        <span class="blast">Cross-Platform Quiz Application</span>
      </h2>
      <p class="blast-root">
        <span class="blast">Created a quiz app using Flutter, demonstrating the framework's capability to deploy seamlessly across Android, iOS, and web platforms.</span>
      </p>
    
      <h2 class="blast-root">
        <span class="blast">PWA Timetable Application</span>
      </h2>
      <p class="blast-root">
        <span class="blast">Built a Progressive Web App (PWA) using Angular to manage timetables, offering offline access and enhanced user experience.</span>
      </p>
    
    </div>
    
    <div class="x">
      <div class="container"> 
        <div class="cube">
          <a href="https://github.com/Shubham14agrawal/TimeSheet" target="_blank" class="wall front"></a>
          <a href="https://github.com/Shubham14agrawal/E-Application-MicroService" target="_blank" class="wall back"></a>
          <a href="https://github.com/Shubham14agrawal/BookingSystem" target="_blank" class="wall top"></a>
          <a href="https://github.com/Shubham14agrawal/DataScience" target="_blank" class="wall bottom"></a>
          <a href="https://github.com/Shubham14agrawal/QuizFlutter" target="_blank" class="wall left"></a>
          <a href="https://github.com/Shubham14agrawal/IdentityServer" target="_blank" class="wall right"></a>
        </div>
      </div>
     </div>   

   </div>
</div>
<span class="tags bottom-tags">&nbsp;&nbsp;&nbsp;&lt;/body&gt;<br>&lt;/html&gt;</span>