    <!-- "./node_modules/ngx-bootstrap/datepicker/bs-datepicker.css" -->
    <div id="nav_bar">
        <a class="logo" rel="index" [routerLink]="['/']"> <img src="../../../assets/S.jpg" alt="">
            <img src="../../../assets/webDev.jpg" alt="">
           
        </a>
        
    <a id="mobile-link" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
    <nav class="en jq-menu ">
        <!-- <a class="logo" rel="index" [routerLink]="['/']"> <img src="../../../assets/S.jpg" alt=""> -->
            <!-- <img src="../../../assets/webDev.jpg" alt=""> --> 
    <a rel="index" [routerLink]="['/']" class="home-link active"><i class="fa fa-home"></i></a>
    <a rel="about" [routerLink]="['/about']" class=""><i class="fa fa-user"></i></a>
    <a rel="skills" [routerLink]="['/skill']" class=""><i class="fas fa-tools"></i></a>
    <a rel="gallery" [routerLink]="['/my']" class=""><i class="fa fa-eye"></i></a>
    <a rel="contact" [routerLink]="['/content']" class=""><i class="fa fa-envelope"></i></a>
    </nav>
    <ul>
    <li><a href="https://www.instagram.com/shubhamagrawal_1/" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li> <a href="https://www.linkedin.com/in/shubhamagrawal-dev/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://github.com/Shubham14agrawal" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="mailto:shubham14agrawal@gmail.com" target="_blank"><i class="fab fa-google"></i></a></li>
    </ul>
    </div>

    <div class="audio-container">
        <audio #audioPlayer [src]="audioUrl"></audio><i class="fa fa-cloud"></i> Sound
        <div (click)="toggleAudio()" style="display: inline-block;">
            <button class="blast">{{ isPlaying ? 'ON' : 'OFF' }}</button></div>
      </div>
   



